@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (ViewBag.error != null)
{
<div class="container">
    <h2>Ops, Something went wrong!</h2>
    <p><span class="badge badge-danger">Sorry, @ViewBag.error</span></p>
    <p>Please try again!</p>
    <p><a href="/stock/watchlist">Retry</a></p>
</div>
    
}
else if(ViewBag.order == "Buy")
{
<div class="container p-3">
    <h1>Confirmation</h1>
    <h6>Congratulation! Your order has been processed successfully.</h6>
    <h3 class="mt-3">Order Details</h3>
    <h5 class="mt-2">Status: Filled</h5>
    <h5 class="mt-2">Buy Order For: <span>@ViewBag.symbol</span></h5>
    <h5 class="mt-2">Price: $@Math.Round(ViewBag.price, 2)</h5>
    <h5 class="mt-2">Quantity: @ViewBag.quantity</h5>
    <h4 class="mt-2">Your total cost: $@Math.Round(ViewBag.totalCost, 2) </h4>
</div>
    
  
}


