
<div class="container m-3 p-3">
    <h2>Ops, Something went wrong!</h2>
    <p><span class="badge badge-danger p-3">Sorry, please wait 2 minutes and then try again! </span></p>
   
    <p><a href="/stock/watchlist">Retry</a> | <a href="/home/index">Home</a></p>
</div>

