<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TradingPlat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/0aa49aca01.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="glass">
        <header class="dashboard">

            <div class="user">
                <img src="./images/avatar.png" alt="" />
                <h3>Simo Edwin</h3>
                <p>Pro Member</p>
            </div>
            <div class="links">
                <div class="link">
                    <ul class="navbar-nav flex-grow-1 ul-nav">
                        <li class="nav-item">
                            <a style="width:100px" class="btn btn-outline-secondary mb-2 bg-white nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="width:100px" class="btn btn-outline-primary bg-white mb-2 nav-link text-dark" asp-area="" asp-controller="Stock" asp-action="WatchList">Stock List</a>
                        </li>
                        <li class="nav-item">
                            <a style="width:100px" class="btn btn-outline-warning bg-white nav-link text-dark" asp-area="" asp-controller="" asp-action="">Portfolio</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div>
                <ul>
                    <li><a asp-controller="User" asp-action="SignUp">Sign Up</a></li>
                    <li><a asp-controller="User" asp-action="SignIn">Sign In</a></li>
                </ul>
            </div>

        </header>
        <div class="container1">

            @RenderBody()

        </div>
    </section>
    <!--Modal display when clicked-->
    <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <footer class="border-top text-muted footer d-flex justify-content-center align-items-center">
        <div class="text-white">
            &copy; 2021 - TradingPlat - Hieu Nguyen
        </div>
    </footer>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
