@{ 
    ViewBag.Title = "Home";
}
<div class="mydiv">
   
    <div class="homepage-main">
        <div class="left-img-div">
            <img src="~/home_pic.jpg" alt="home_img" class="home-img" />
        </div>
        <div class="right-text-div">
            <h1>Welcome to <span>Stock</span> market simulator!</h1>
            <p class="p1">Practice stock  trading with virtual money.</p>
            <p class="p2">No deposit needed.</p>
            <p class="p3">Sharpen your knowledge of how the stock market works and how to use an online brokerage.</p>
            <div class="explore"><a href="/stock/watchlist" class="homepage-btn">Let's Explore</a></div>
        </div>
    </div>   
    
</div>

    
