@model IEnumerable<TradingPlat.Models.StockModel>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="mydiv">
    @foreach(var s in Model)
     {
    <ul>
        <li><a href="/home/getstockid/@s.StockID">@s.StockID</a></li>
        <li>@s.StockName</li>
        <li>@s.Symbol</li>
    </ul>
     }
</div>
